.item {
    border: 1px solid black;
    margin: 5px auto;
    width: 600px;
    height: 40px;
    font-size: 18px;
    text-align: left;
    line-height: 40px;
    padding: 5px;
    display: flex;
    flex: 1;
    position: relative;
    border-radius: 10px;
    background-color: rgb(130, 212, 245);
    transition: all 2s;
}
.item:hover {
    background-color: rgb(42, 176, 230);
}

.item_to_done {
    border: 1px solid black;
    margin: 5px auto;
    width: 600px;
    height: 40px;
    font-size: 18px;
    text-align: left;
    line-height: 40px;
    padding: 5px;
    display: flex;
    flex: 1;
    position: relative;
    border-radius: 10px;
    background-color: rgb(245, 121, 39);
    transition: all 2s;
}

.item_done {
    text-decoration:line-through;
    color: rgb(53, 67, 83);
}

.item_delete {
    position:  absolute;
    right: 20px;
    font-size: 30px;
}

.item_delete:hover {
    text-shadow: 0 0 10px red,0 0 20px red,0 0 30px red,0 0 40px red;
}